@use '../../ds/settings/tokens' as t;
@use '../../ds/tools/responsive' as r;
@use '../../ds/tools/animation' as anim;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-base);
  color: var(--color-text-primary);
  @include anim.theme-transition;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: t.$space-4;

  @include r.media-md {
    padding: t.$space-6;
  }
}
